
    h1 {
        text-align: center;
    }

    td {
        width: 100px;
        height: 100px;
        cursor: pointer;
    }

    table {
        margin: 5px auto;
        text-align: center;
        font-size: 50px;
    }

    .vert {
        border-left: 2px solid black;
        border-right: 2px solid black;
    }

    .hori {
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }
    
    .btn{
        text-align: center;
    }

    button{
        cursor: pointer;
        font-size: 20px;
        padding: 2px 5px;
    }

    .turn{
        text-align: center;
        margin: 20px 20px;
    }

    img{
        width: 0px;
        transition: 1s ease-in-out;
    }